!!! 5
html
  head
    title Express - referência da api
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/api.html'
        include includes/menu

      include includes/mixins

      include pt_br/api/menu

      #right
        include pt_br/api/express

        h2 Application
        a(name='application')
        include pt_br/api/app

        h2 Request
        a(name='request')
        include pt_br/api/req

        h2 Response
        a(name='response')
        include pt_br/api/res

        h2 Middleware
        a(name='middleware')
        include pt_br/api/middleware

    include includes/footer
