section
  h3(id='executable') Usando express(1) para gerar um app

  p.
    Express é fornecido com um arquivo executável, apropriadamente chamado <code>express(1)</code>.
    Se você instalar o Express globalmente com npm você vai tê-lo disponível a partir de qualquer lugar
    em sua máquina:

  +js.
    $ npm install -g express

  p.
    Esta ferramenta fornece uma maneira simples para obter um esqueleto de aplicação,
    mas tem um âmbito limitado, por exemplo ele suporta apenas alguns motores de modelo,
    ao passo que em si Express suporta virtualmente qualquer motor de template construído para node.
    Seja certeza de fazer dar uma olhada no arquivo <code>--help</code>:

  +js.
  
    Usage: express [options]

    Options:

      -h, --help          output usage information
      -V, --version       output the version number
      -s, --sessions      add session support
      -e, --ejs           add ejs engine support (defaults to jade)
      -J, --jshtml        add jshtml engine support (defaults to jade)
      -H, --hogan         add hogan.js engine support
      -c, --css <engine>  add stylesheet <engine> support (less|stylus) (defaults to plain css)
      -f, --force         force on non-empty directory
  p.
    Se você deseja gerar uma aplicação com EJS, Stylus, e suporte a sessão,
    você poderia simplesmente executar:

  +js.
    $ express --sessions --css stylus --ejs myapp

    create : myapp
    create : myapp/package.json
    create : myapp/app.js
    create : myapp/public
    create : myapp/public/javascripts
    create : myapp/public/images
    create : myapp/public/stylesheets
    create : myapp/public/stylesheets/style.styl
    create : myapp/routes
    create : myapp/routes/index.js
    create : myapp/views
    create : myapp/views/index.ejs

    instalar dependências:
      $ cd myapp && npm install

    executar o app:
      $ node app  

  p.
    Como qualquer outro aplicativo de node, você deve instalar as dependências:

  +js.
    $ cd myapp
    $ npm install

  p.
   Agora só começar a executar o app.

  +js.
    $ node app

  p.
    Isso é tudo que você precisa para obter um simples aplicativo instalado e funcionando. Ter em mente
    que o Express não está vinculado a qualquer estrutura de diretório específico, estes são simplesmente
    uma linha de base para você trabalhar. Para alternativas de estrutura da aplicação
    Certifique-se de ver o <a href="https://github.com/visionmedia/express/tree/master/examples"> exemplos </a>
    encontrado no github.